<div class="container">
    <div class="row justify-content-center mt-4 mb-4">
        <h1 class="row justify-content-center text-blue">Nova Pesquisa</h1>
    </div>
    
    <%= render 'form', pesquisa: @pesquisa %>
    
    <div class= "row col-8 justify-content-start"><%= link_to 'Back', pesquisas_path, class: "btn btn-primary" %></div>
    
</div>